<%= form_with model: trip, local: true do |f| %>

  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-md-auto">
        <div class="images-field clearfix">
          <div class="field text-left mb-2">
            <h5>Image</h5>
            <%= f.file_field :images, multiple: true, class: "file-input" %>
          </div>
          <% if trip.images.attached? %>
            <% trip.images.each do |image| %>
              <div class="image-box">
                <%= image_tag image %>
                <%= f.hidden_field :images , name: "trip[images][]", value: "#{image.blob.id}", style: "display: none;", class: "trip-images-input" %>
                <%= file_field "edit-image","" , class: "edit-image-file-input file-input", style: "display: none;"%>
                <%= link_to "Delete", "", class: "btn-delete" %>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-md-4">
        <div class="mb-3" id="evaluation_stars">
          <h5>Evaluation</h5>
        </div>

        <div class="mb-3">
          <h5>Title</h5>
          <%= f.text_field :title, class: "form-control" %>
        </div>

        <div class="mb-3">
          <h5>Country</h5>
          <%= f.collection_select :category_id, Category.all, :id, :name, {:include_blank => "選択してください"}, class: "form-control" %>
        </div>

        <div class="mb-3">
          <h5>City</h5>
          <%= f.text_field :city, class: "form-control" %>
        </div>

        <div class="mb-3">
          <h5>Date</h5>
          <%= f.date_field :date, class: "form-control" %>
        </div>

        <div class="mb-3">
          <h5>Tag</h5>
          <%= f.text_field :name, class: "form-control" %>
        </div>
      </div>

      <div class="col-md-4">
        <div class="mb-3">
          <h5>Description</h5>
          <%= f.text_area :description, size: "20x10", class: "form-control" %>
        </div>
        <div class="text-right">
          <%= f.submit class: "btn btn-outline-primary" %>
        </div>
      </div>
    </div>
  </div>
<% end %>

