<%= form_with model: @trip, local:true do |f| %>
 <h2>投稿フォーム</h2>
  <div class="images-field">
    <div class="field">
      <h4>画像</h4>
      <%= f.file_field :images, multiple: true, class: "file-input" %>
    </div>
    <% if @trip.images.attached? %>
      <% @trip.images.each do |image| %>
      <div class="image-box">
        <%= image_tag image.variant(resize: "150x150") %>
        <%= f.hidden_field :images , name: "trip[images][]", value: "#{image.blob.id}", style: "display: none;", class: "trip-images-input" %>
          <%= file_field "edit-image","" , class: "edit-image-file-input file-input", style: "display: none;"%>
          <%= link_to "Delete", "", class: "btn-delete" %>
        </div>
      <% end %>
    <% end %>
  </div>

  <div>
  <h4>評価</h4>
　<span id="evaluation_stars"></span>
  </div>

  <div>
  <h4>タイトル</h4>
  <%= f.text_field :title %>
  </div>

  <div>
  <h4>都市</h4>
  <%= f.text_field :city %>
  </div>

  <div>
  <h4>時刻</h4>
  <%= f.time_select :date_time %>
  </div>

  <div>
  <h4>説明</h4>
  <%= f.text_area :description %>
  </div>

  <div>
    <%= f.submit  '編集する' %>
  </div>
<% end %>

<script>
  $('#evaluation_stars').raty({
    size: 36,
    starOff: "<%= asset_path('star-off.png') %>",
    starOn: "<%= asset_path('star-on.png') %>",
    starHalf: "<%= asset_path('star-half.png') %>",
    scoreName: 'trip[evaluation]',
    half: true,
    score: <%= @trip.evaluation %>
  });
</script>