<div class="container ly_main">
  <%= render 'layouts/errors', obj: @trip %>
</div>
<div class="container">
  <div class="row justify-content-md-center">
    <h2 class="text-center">Create Trip</h2>
  </div>
</div>
<%= render 'form', trip: @trip %>


<script>
  $('#evaluation_stars').raty({
    size: 20,
    starOff: "<%= asset_path('star-off.png') %>",
    starOn: "<%= asset_path('star-on.png') %>",
    starHalf: "<%= asset_path('star-half.png') %>",
    scoreName: 'trip[evaluation]',
    half: true
  });
</script>