<h1>投稿フォーム</h1>
<%= form_with model: @trip, local:true do |f| %>
  <div class="images-field">
    <div class="field">
  <h4>画像</h4>
  <%= f.file_field :images, multiple: true %>
  </div>
  </div>

  <div>
  <h4>評価</h4>
　<span id="evaluation_stars"></span>
  </div>

  <div>
  <h4>タイトル</h4>
  <%= f.text_field :title %>
  </div>

  <div>
  <h4>都市</h4>
  <%= f.text_field :city %>
  </div>

  <div>
  <h4>時刻</h4>
  <%= f.time_select :date_time %>
  </div>

  <div>
  <h4>説明</h4>
  <%= f.text_area :description %>
  </div>

  <%= f.submit '投稿' %>
<% end %>

<script>
  $('#evaluation_stars').raty({
    size: 36,
    starOff: "<%= asset_path('star-off.png') %>",
    starOn: "<%= asset_path('star-on.png') %>",
    starHalf: "<%= asset_path('star-half.png') %>",
    scoreName: 'trip[evaluation]',
    half: true
  });
</script>