

<%= form_with model: @user, url: user_registration_path, class: 'form-signin', local: true do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <h2>Sign up</h2>

  <div class="mb-3">
    <%= f.label :name %><br />
    <%= f.text_field :name, autofocus: true, class: "form-control", placeholder: "Name" %>
  </div>

  <div class="mb-3">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder: "Email address" %>
  </div>

  <div class="mb-3">
    <%= f.label :sex %><br />
    <%= f.select :sex, User.sexes.keys, {prompt: "選択してください"}, autofocus: true, class: "custom-select" %>
  </div>

   <div class="mb-3">
    <%= f.label :birth_at %><br />
    <%= f.date_field :birth_at, autofocus: true, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password", class: "form-control", placeholder: "Password" %>
  </div>

  <div class="mb-3">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control", placeholder: "Password" %>
  </div>

  <div class="mb-3">
    <%= f.submit "Sign up", class: "btn btn-primary" %>
  </div>

  <div class="actions">
    <%= link_to "Log in", new_user_session_path %>
  </div>

<% end %>
