<h1>投稿フォーム</h1>
<%= form_with model: @trip, local:true do |f| %>

  <div>
  <h4>タイトル</h4>
  <%= f.text_field :title %>
  </div>

  <div>
  <h4>評価</h4>
　<span id="evaluation_stars"></span>
  </div>

  <div>
  <h4>出発日</h4>
  <%= f.date_field :start_date %>
  </div>

  <div>
  <h4>帰宅日</h4>
  <%= f.date_field :finish_date %>
  </div>

  <div>
  <h4>時刻</h4>
  <%= f.number_field :number_of_people %>
  </div>

  <div>
  <h4>説明</h4>
  <%= f.text_area :description %>
  </div>

  <%= f.submit '投稿' %>
<% end %>

<script>
  $('#evaluation_stars').raty({
    size: 36,
    starOff: "<%= asset_path('star-off.png') %>",
    starOn: "<%= asset_path('star-on.png') %>",
    starHalf: "<%= asset_path('star-half.png') %>",
    scoreName: 'trip_way[evaluation]',
    half: true
  });
</script>