<div>
  <%= image_tag "Japan.jpg", class: "show-img" %>
</div>
<div class="container">
  <div class="row justify-content-md-center text-center">
    <%= render 'users/card', user: @user %>
  </div>
</div>

<div class="container mt-5">
  <div class="row justify-content-md-center text-center">
    <div clas="col-md-5">
      <h2><%= @trip_way.title %></h2>
      <div>
        <span class="trip-evaluation mr-1" data-score="<%= @trip_way.evaluation %>"></span>
        人数:<%= @trip_way.number_of_people %>人
      </div>
      <p><%= @trip_way.start_date %><strong>~</strong><%= @trip_way.finish_date %></p>
      <p class="description"><%= @trip_way.description %></p>
      <% if @trip_way.user == current_user %>
        <%= link_to 'Edit', edit_trip_way_path(@trip_way), class: "btn btn-sm btn-outline-success mr-1" %>
        <%= link_to 'Destroy', trip_way_path(@trip_way), method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-sm btn-outline-danger" %>
      <% end %>
    </div>
  </div>
</div>

<% trip_count = 1 %>
<% @trip_way.trip_way_relations.each do |f| %>
  <div class="container-fluid mt-5 pt-3">
    <div class="number"><%= trip_count %></div>
    <%= render 'trips/show', trip: f.trip %>
    <% trip_count = trip_count + 1 %>
  </div>
<% end %>

<script>
  $('.trip-evaluation').raty({
    readOnly: true,
    score: function() {
      return $(this).attr('data-score');
    },
    path: '/assets/'
  });
</script>