<table class='table'>
  <tr>
	  <th>name</th>
	  <th><%= user.name %></th>
  </tr>
  <tr>
	  <th>sex</th>
	  <th><%= user.sex %></th>
  </tr>
  <tr>
	  <th>age</th>
	  <th><%= user.birth_at %></th>
  </tr>
  <tr>
	  <th>introduction</th>
	  <th><%= user.introduction %></th>
  </tr>
  <tr>
    <th>follows</th>
    <th><%= link_to user.followings.count, user_followings_path(user) %></th>
  </tr>
  <tr>
    <th>followers</th>
    <th><%= link_to user.followers.count, user_followers_path(user) %></th>
  </tr>
</table>


<div>
  <% if current_user != user %>
    <% if current_user.following?(user) %>
      <%= link_to "フォロー外す", user_relationships_path(user.id), method: :delete %>
    <% else %>
      <%= link_to "フォローする", user_relationships_path(user.id), method: :post %>
    <% end %>
  <% else %>
    <%= link_to 'edit', edit_user_path(user) %>
  <% end %>
</div>

<% unless user.id == current_user.id %>
  <% if isRoom == true %>
    <%= link_to "チャットへ", romm_path(roomId) %>
  <% else %>
    <%= form_with model: room, local: true do |f| %>
      <%= fields_for entry do |e| %>
        <%= e.hidden_field :user_id, value: user.id %>
      <% end %>
      <%= f.submit "チャットを始める" %>
    <% end %>
  <% end %>
<% end %>