<div class="mt-2">
  <% unless user.id == current_user.id %>
    <% if isRoom == true %>
      <%= link_to "チャットへ", room_path(roomId), class: "btn btn-sm btn-outline-primary" %>
    <% else %>
      <%= form_with model: room, local: true do |f| %>
        <%= fields_for entry do |e| %>
          <%= e.hidden_field :user_id, value: user.id %>
        <% end %>
        <%= f.submit "チャットを始める", class: "btn btn-sm btn-outline-primary" %>
      <% end %>
    <% end %>
  <% end %>
</div>