
<div class="ly_main">
  <div class="container-fluid">
    <div class="row justify-content-start">
      <div class="col-6 pl-5">
        <h1 class="title">
          Let's Share Your Trips and </br>
          Make Us Happy.
        </h1>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row justify-content-end">
      <div class="col-6 pr-5">
        <div class="text-center">
          <%= render 'layouts/search' %>
        </div>
        <p class="theme">
          <% @categories.each do |category| %>
            <%= link_to category.name, category_path(category), class: "mr-1" %>
          <% end %>
        </p>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row mx-auto my-auto">
    <div class="col-md-8 top_image pt-3 pb-3">
      <%= link_to category_path(@category = 2), target: "_blank" do%>
        <%= image_tag "America.jpg", class: "rounded-1" %>
        <p class="top_image_title">Amarica</p>
      <% end %>
    </div>
    <div class="col-md-4 top top_image pt-3 pb-3">
      <%= link_to category_path(@category = 4), target: "_blank" do%>
        <%= image_tag "France.jpg", class: "rounded-1" %>
        <p class="top_image_title">France</p>
      <% end %>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row mx-auto my-auto">
    <div class="col-md-4 top top_image pt-3 pb-3">
      <%= link_to category_path(@category = 3), target: "_blank" do%>
        <%= image_tag "UK.jpg", class: "rounded-1" %>
        <p class="top_image_title">England</p>
      <% end %>
    </div>
    <div class="col-md-4 top top_image pt-3 pb-3">
      <%= link_to category_path(@category = 5), target: "_blank" do%>
        <%= image_tag "Italy.jpg", class: "rounded-1" %>
        <p class="top_image_title">Italy</p>
      <% end %>
    </div>
    <div class="col-md-4 top top_image pt-3 pb-3">
      <%= link_to category_path(@category = 27), target: "_blank" do%>
        <%= image_tag "China.jpg", class: "rounded-1" %>
        <p class="top_image_title">China</p>
      <% end %>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row mx-auto my-auto">
    <div class="col-md-8 top_image pt-3 pb-3">
      <%= link_to category_path(@category = 1), target: "_blank" do%>
        <%= image_tag "Japan.jpg", class: "rounded-1" %>
        <p class="top_image_title">Japan</p>
      <% end %>
    </div>
    <div class="col-md-4 top top_image pt-3 pb-3">
      <%= link_to category_path(@category = 32), target: "_blank" do%>
        <%= image_tag "Singapore.jpg", class: "rounded-1" %>
        <p class="top_image_title">Singapore</p>
      <% end %>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row mx-auto my-auto">
    <div class="col-md-4 top top_image pt-3 pb-3">
      <%= link_to category_path(@category = 39), target: "_blank" do%>
        <%= image_tag "Australia.jpg", class: "rounded-1" %>
        <p class="top_image_title">Australia</p>
      <% end %>
    </div>
    <div class="col-md-4 top top_image pt-3 pb-3">
      <%= link_to category_path(@category = 31), target: "_blank" do%>
        <%= image_tag "Thailand.jpg", class: "rounded-1" %>
        <p class="top_image_title">Thailand</p>
      <% end %>
    </div>
    <div class="col-md-4 top top_image pt-3 pb-3">
      <%= link_to category_path(@category = 30), target: "_blank" do%>
        <%= image_tag "Vietnam.jpg", class: "rounded-1" %>
        <p class="top_image_title">Vietnam</p>
      <% end %>
    </div>
  </div>
</div>

