
<div class="ly_main">
  <div class="container-fluid">
    <div class="row justify-content-start">
      <div class="col-6 pl-5">
        <h1 class="title">
          Let's Share Your Trips and </br>
          Make Us Happy.
          <%= link_to "How to use", about_path, class: "btn btn-sm btn-outline-primary ml-5" %>
        </h1>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row justify-content-end">
      <div class="col-6 pr-5">
        <div class="text-center">
          <%= render 'layouts/search' %>
        </div>
        <p class="theme">
          <% @categories.each do |category| %>
            <%= link_to category.name, category_path(category), class: "mr-1" %>
          <% end %>
        </p>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row mx-auto my-auto">
    <div class="col-md-8 top_image pt-3 pb-3">
      <%= link_to category_path(@category2) do%>
        <%= image_tag @category2.image, class: "rounded-1" %>
        <p class="top_image_title"><%= @category2.name %></p>
      <% end %>
    </div>
    <div class="col-md-4 top top_image pt-3 pb-3">
      <%= link_to category_path(@category4) do%>
        <%= image_tag @category4.image, class: "rounded-1" %>
        <p class="top_image_title"><%= @category4.name %></p>
      <% end %>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row mx-auto my-auto">
    <div class="col-md-4 top top_image pt-3 pb-3">
      <%= link_to category_path(@category3) do%>
        <%= image_tag @category3.image, class: "rounded-1" %>
        <p><%= @category3.name %></p>
      <% end %>
    </div>
    <div class="col-md-4 top top_image pt-3 pb-3">
      <%= link_to category_path(@category5) do%>
        <%= image_tag @category5.image, class: "rounded-1" %>
        <p><%= @category5.name %></p>
      <% end %>
    </div>
    <div class="col-md-4 top top_image pt-3 pb-3">
      <%= link_to category_path(@category13) do%>
        <%= image_tag @category13.image, class: "rounded-1" %>
        <p><%= @category13.name %></p>
      <% end %>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row mx-auto my-auto">
    <div class="col-md-8 top_image pt-3 pb-3">
      <%= link_to category_path(@category1) do%>
        <%= image_tag @category1.image, class: "rounded-1" %>
        <p class="top_image_title"><%= @category1.name %></p>
      <% end %>
    </div>
    <div class="col-md-4 top top_image pt-3 pb-3">
      <%= link_to category_path(@category18) do%>
        <%= image_tag @category18.image, class: "rounded-1" %>
        <p class="top_image_title"><%= @category18.name %></p>
      <% end %>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row mx-auto my-auto">
    <div class="col-md-4 top top_image pt-3 pb-3">
      <%= link_to category_path(@category23) do%>
        <%= image_tag @category23.image, class: "rounded-1" %>
        <p><%= @category23.name %></p>
      <% end %>
    </div>
    <div class="col-md-4 top top_image pt-3 pb-3">
      <%= link_to category_path(@category17) do%>
        <%= image_tag @category17.image, class: "rounded-1" %>
        <p><%= @category17.name %></p>
      <% end %>
    </div>
    <div class="col-md-4 top top_image pt-3 pb-3">
      <%= link_to category_path(@category16) do%>
        <%= image_tag @category16.image, class: "rounded-1" %>
        <p><%= @category16.name %></p>
      <% end %>
    </div>
  </div>
</div>

