<% if flash[:alert].present? %>
<div class="container ly_main">
  <div id="error_explanation" class="alert alert-danger">
    <ul class="mb-0">
      <%= alert %>
    </ul>
  </div>
</div>
<% end %>
<%= form_with model: @user, url: user_session_path, class: 'form-center ly_main', local: true do |f| %>
  <h2>Log in</h2>
  <div class="mb-3">
    <%= f.label :name %><br />
    <%= f.text_field :name, autofocus: true, autocomplete: "name", class: "form-control", id: "validationTooltip01", placeholder: "Name" %>
  </div>

  <div class="mb-3">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "current-password", class: "form-control", id: "validationTooltip01", placeholder: "Password" %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="mb-3">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end %>

  <div class="mb-3">
    <%= f.submit "Log in", class: "btn btn-primary" %>
  </div>
  <div class="actions">
    <%= link_to 'Sign up', new_user_registration_path %>
  </div>

<% end %>

