<% if @model == 'user' %>
	<h3>Users search for "<%= @content %>"</h3>
  <%= render 'users/index', users: @records %>
<% elsif @model == 'trip' %>
	<h3>Books search for "<%= @content %>"</h3>
  <%= render 'trips/index', trips: @records %>
<% elsif @model == 'trip_way' %>
	<h3>Books search for "<%= @content %>"</h3>
  <%= render 'trip_ways/index', trip_ways: @records %>
<% end %>