<div>
  <%= form_with url: search_path, method: :get, class: "form-inline", local: true do |f| %>
    <%= f.text_field :content, class: "form-control form-control-sm" %>
    <%= f.select :model, options_for_select({ "User" => "user", "Trip" => "trip", "TripWay" => "trip_way" }), {}, {class: 'custom-select custom-select-sm mr-sm-2'} %>
    <%= f.select :method, options_for_select({ "完全一致" => "perfect", "前方一致" => "forward", "後方一致" => "backward", "部分一致" => "partial" }), {}, {class: 'custom-select custom-select-sm mr-sm-2'} %>
    <%= f.submit '検索', class: "btn btn-sm btn-primary mb-2" %>
  <% end %>
</div>