<!DOCTYPE html>
<html>
  <head>
    <title>Tabiex</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.9.0/css/all.css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <h1 class="heading">
        <a>
          TabiEx
        </a>
      </h1>
    </header>
    <nav>
      <ul class="nav-list">
        <% if user_signed_in? %>
          <li class="nav-list-item"><%= link_to "My Page", user_path(current_user) %></li>
          <li class="nav-list-item"><%= link_to "Users", users_path %></li>
          <li class="nav-list-item"><%= link_to "Trips", trips_path %></li>
          <li class="nav-list-item"><%= link_to "Trip_Ways", trip_ways_path %></li>
          <li class="nav-list-item"><%= link_to "Create Trip", new_trip_path %></li>
          <li class="nav-list-item"><%= link_to "Create Trip Way", new_trip_way_path %></li>
          <li class="nav-list-item"><%= link_to "Log out", destroy_user_session_path, method: :delete %></li>
          <% if unchecked_notifications.any? %>
            <i class="fa fa-circle" style="color: gold;"></i>
          <% end %>
          <li>
              <%= link_to "NOTICE", notifications_path %>
          </li>
        <% else %>
          <li class="nav-list-item"><%= link_to "Log in", new_user_session_path %></li>
          <li class="nav-list-item"><%= link_to "Trips", trips_path %></li>
          <li class="nav-list-item"><%= link_to "Sign up", new_user_registration_path %></li>
        <% end %>
      </ul>
    </nav>
    <% if user_signed_in? %>
      <%= render 'layouts/search' %>
    <% end %>
    <%= yield %>
  </body>
</html>
