<!DOCTYPE html>
<html>
  <head>
    <title>Tabiex</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.9.0/css/all.css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <h1 class="heading">
        <a>
          TabiEx
        </a>
      </h1>
    </header>
    <nav>
      <ul class="nav-list">
        <% if user_signed_in? %>
          <li><a><%= link_to "My Page", user_path(current_user) %></a></li>
          <li><a><%= link_to "Users", users_path %></a></li>
          <li><a><%= link_to "Trips", trips_path %></a></li>
          <li><a><%= link_to "Trip_Ways", trip_ways_path %></a></li>
          <li><a><%= link_to "Create Trip", new_trip_path %></a></li>
          <li><a><%= link_to "Create Trip Way", new_trip_way_path %></a></li>
          <li class="has-child"><a>Category</a>
            <ul>
            <% @categories.each do |category| %>
            <li><a><%= link_to category.name, category_path(category)%></a></li>
            <% end %>
            </ul>
          </li>
          <li><a><%= link_to "Log out", destroy_user_session_path, method: :delete %></a></li>
          <% if unchecked_notifications.any? %>
            <i class="fa fa-circle" style="color: gold;"></i>
          <% end %>
          <li>
              <a><%= link_to "NOTICE", notifications_path %></a>
          </li>
        <% else %>
          <li><a><%= link_to "Log in", new_user_session_path %></a></li>
          <li><a><%= link_to "Trips", trips_path %></a></li>
          <li><a><%= link_to "Trip_Ways", trip_ways_path %></a></li>
          <li><a><%= link_to "Sign up", new_user_registration_path %></a></li>
        <% end %>
      </ul>
    </nav>
    <% if user_signed_in? %>
      <%= render 'layouts/search' %>
    <% end %>
    <div class="body">
      <div class="container">
    <%= yield %>
    </div>
    </div>
  </body>
</html>
